/*
 Header, footer, and main content body [x]
 Navigation elements 
 Responsive to window resizing 
 Application elements
 Application text content
 Application images [x]
*/
p {
    box-sizing: border-box;
  }
  header {
    background-color: rgb(167, 227, 187);
    text-align: center;
    padding: 2px;
    font-size: 25px;
    color: white;
  }
  :root {
    font: 1.5em sans-serif;
  }
  
  aside {
    padding: 3em;
    margin: 0.5em;
    border: hsl(0, 100%, 20%) solid thick;
    background: hsl(0, 50%, 50%);
    float: inline-end;
  }
  @media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    }
  ul {
    list-style-type: none;
  }
  nav a:hover {
    background-color: rgb(85, 145, 111);
    border-radius: 5px;
  }
  h1, h2, h3 {
    font-weight: bold;
    color: #222;
}

p {
    line-height: 1.6;
    font-size: 16px;
}
.shrekFriends {
    width: 300px;  /* Adjust width */
    height: auto;  /* Maintain aspect ratio */
    display: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
}
/* if i want to make this pop up! */
/*
.shrekFriends:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
*/

  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #88bb8a;
    height: 300px; 
  }
  footer {
    background-color: rgb(140, 176, 147);
    padding: 10px;
    text-align: center;
    color: white;
  }section:hover {
    border-left: solid 1em purple;
  }
