p {
    box-sizing: border-box;
  }
  header {
    background-color: rgb(167, 227, 187);
    text-align: center;
    padding: 2px;
    font-size: 25px;
    color: white;
  }
  :root {
    font: 1.5em sans-serif;
  }
  
  aside {
    padding: 3em;
    margin: 0.5em;
    border: hsl(0, 100%, 20%) solid thick;
    background: hsl(0, 50%, 50%);
    float: inline-end;
  }
  nav {
ul
{ list-style-type: none; }
}

nav a:hover {
    background-color: rgb(85, 145, 111);
    border-radius: 5px;
  }

  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #88bb8a;
    height: 300px; 
    align-items: center;
    Justify-content: center;
    text-align: center; 
  }
  button {
  padding: 20px 20px;
  background: #90a991;
  margin: 20px auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  Justify-content: center;
  text-align: center; 
  margin-top: 20px; 
  font-family: Arial, sans-serif;
  border: 2px solid #333; /* Border around the box */
  border-radius: 5px;
  cursor: pointer;
  }
  button:hover {
    background: #c6ae91;
  }
  .box {
  width: 300px; 
  height: 300px; 
  background-color: rgb(173, 230, 182); /* Background color */
  border: 2px solid #333; /* Border around the box */
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 20px auto; 
  }
  footer {
    background-color: rgb(140, 176, 147);
    padding: 10px;
    text-align: center;
    color: white;
  }